<div class="container">    
    <div class="row">
        <div class="col-sm-4" *ngFor="let team of teams; index as i">
            <table  class="table table-borderless" (click)="addPoint(team.id)" (contextmenu)="removePoint(team.id)">
                <tbody>
                    <tr *ngFor="let player of team.players">
                        <td [ngClass]="{'playerIngame': team.score > 0,'playerEliminated': team.score <= 0}">
                            {{player.name}}
                        </td>
                    </tr>
                    <tr>
                        <td class="badgeScore" [ngClass]="{'scoreIngame': team.score > 0,'scoreEliminated': team.score <= 0}">Nombre de point:  {{team.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>