<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Jeu de Noel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/team-component" routerLinkActive="active" ariaCurrentWhenActive="page">Equipes</a>
        <a class="nav-item nav-link" routerLink="/matches-component" routerLinkActive="active" ariaCurrentWhenActive="page">Matchs</a>
      </div>
    </div>
  </nav>