.teamContainer {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
  }
  .badge {
    font-size: small;
    color: white;
    padding: 0.7em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .badgeOpp {
    width: 3rem;
    font-size: small;
    margin-left: auto; 
    margin-right: 0;
    color: white;
    padding: 0.7em 0.7em 0 0.7em;
    background-color: #bb6400;
    line-height: 1em;
    text-align: right;
    border-radius: 0px 4px 4px 0px;
  }